<%- content_for :header do %>
   <%= link_to 'Import', import_services_path, :class => 'ui-btn-left', "data-icon" => "gear", :rel => 'external' %>
  <h1>Listing services</h1>
  <%= link_to 'New Service', new_service_path, :class => 'ui-btn-right', "data-icon" => "plus" %>
<%- end %>

<div data-role="content">
<ul data-role="listview" data-inset="true">
<% @services.each do |service| %>
  <li><%= link_to service.display_name, edit_service_path(service) %></li>

<% end %>
</ul>
 </div>