<%- content_for :header do %>
  <%= link_to 'Back', services_path, :class => "ui-btn-left" %>
<h1><%= @service.display_name %></h1>
  <%= link_to 'Edit', edit_service_path(@service), :class => "ui-btn-right" %>
<%- end %>

<div data-role="content">
<p>
  <b>Url:</b>
  <%= @service.url %>
</p>
</div>



