<div data-role="header">
  <%= link_to 'Back', orgs_path, :class => "ui-btn-left" %>
  <h1>Editing Organization</h1>
  <%= link_to 'Show', @org, :class => "ui-btn-right" %>
</div>

<%= render 'form' %>


