<%- content_for :header do %>
 <%= link_to "Back", @org, :class => "ui-btn-left" %>
 <h1>Groups</h1>
  <%=link_to 'New Group', new_org_group_path(@org), :class => 'ui-btn-right', "data-icon" => "plus" %>
<%- end %>

<div data-role="content">
  <ul data-role="listview" data-inset="true">
    <% @groups.each do |group| %>
        <li><%= link_to group.display_name, org_group_path(@org, group) %></li>
    <%-end%>
</ul>
</div>


