<p id="notice"><%= notice %></p>

<p>
  <b>Display name:</b>
  <%= @group.display_name %>
</p>


<%= link_to 'Edit', edit_org_group_path(@org, @group) %> |
<%= link_to 'Back', org_groups_path(@org) %>
