<%- content_for :header do %>  |
  <%= link_to 'Back', org_groups_path(@org), :class => "ui-btn-left" %>
  <h1><%= @group.display_name %></h1>
  <%= link_to 'Edit', edit_org_group_path(@org, @group), :class => "ui-btn-right" %>
<%- end %>


<%= link_to 'View Members', org_group_group_members_path(@org, @group), 'data-role'=>"button", 'data-inline'=>"true"  %>

