<div data-role="header">
  <h1>Collaborate</h1>
</div>

<div data-role="content">
<p>
  Welcome <%= current_user.display_name %>
</p>
<%= link_to("Your Organizations", orgs_path, 'data-role'=>"button")  %>
</div>