<div data-role="header">
 <%= link_to "Back to #{@org.display_name}", @org, :class => "ui-btn-left" %>
 <h1>Projects</h1>
  <%=link_to 'New Project', new_org_project_path(@org), :class => 'ui-btn-right', "data-icon" => "plus" %>
</div>

<div data-role="content">
<ul data-role="listview" data-inset="true">
<% @projects.each do |project| %>
  <li><%= link_to project.display_name, org_project_path(@org, project) %></li>
<% end %>
</ul>
</div>

