<%- content_for :header do %>
  <h2>Sign in</h2>
<%- end %>

<div data-role="content">
  <div class="centered">
  <a href="javascript:loginUser();" data-role="button">Login with Facebook</a>
  <div class="fb-like" data-href="http://collaboration.cloudfoundry.com" data-send="true" data-width="450" data-show-faces="true"></div>
  </div>
</div>

<%= render :partial => "devise/shared/links" %>
