<%- content_for :header do %>
  <%= link_to 'Back', apps_path, :class => "ui-btn-left" %>
  <h1>Editing app</h1>
  <%= link_to 'Show', @app, :class => "ui-btn-right" %>
<%- end %>

<%= render 'form' %>


