<div data-role="header">
  <%= link_to 'Home', home_index_path, :class => 'ui-btn-left', "data-icon" => "home" %>
  <h1>Applications</h1>
  <%= link_to 'New App', new_app_path, :class => 'ui-btn-right', "data-icon" => "plus" %>
</div>

<div data-role="content">

<%-if @apps.count > 0 %>
<ul data-role="listview" data-inset="true">
<% @apps.each do |app| %>
  <li><%= link_to app.display_name, app %></li>
<% end %>
</ul>
<%- else %>
<p>You do not have any applications</p>
<%- end %>
</div>


