<%- content_for :header do %>
  <h1><%= @title %></h1>
  <%= link_to 'New Resource', new_org_owned_resource_path(@org), :class => 'ui-btn-right', "data-icon" => "plus" %>
<%- end %>

<div data-role="content">

  <%- if @owned_resources.count > 0 %>
      <ul data-role="listview" data-inset="true">
    <% @owned_resources.each do |owned_resource| %>
      <li><%= link_to owned_resource.resource.display_name, edit_org_owned_resource_path(@org, owned_resource) %></li>
    <% end %>
    </ul>
  <% end %>

</div>
